<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        
        // Draw the chart and set the chart values
        function drawChart() {
          var split = "laki-laki"



          var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['split', 8],
          ['Eat', 2],
          ['TV', 4],
          ['Gym', 2],
          ['Sleep', 8]
        ]);

            var databar = google.visualization.arrayToDataTable([
            ['Element', 'Density', { role: 'style' }],
            ['Copper', 8.94, '#b87333'],            // RGB value
            ['Silver', 10.49, 'silver'],            // English color name
            ['Gold', 19.30, 'gold'],

        ['Platinum', 21.45, 'color: #e5e4e2' ], // CSS-style declaration
        ]);
        
          // Optional; add a title and set the width and height of the chart
          var parentDiv = $("#chartDiv")

          var width = $(parentDiv).width();
          var height = $(parentDiv).height();

          var options = {'width' : (width/2), 'height' : height, 'title':'My Average Day', 'width':500, 'height':400, backgroundColor: { fill:'transparent' }, colors : ['red', 'green', 'blue', 'yellow']};

          var options2 = {'width' : (width/2), 'height' : height, 'title':'My Average Day', 'width':500, 'height':400, backgroundColor: { fill:'transparent' }, 'bar' : {groupWidth: "95%"}, legend: { position: "none" }};
        
          // Display the chart inside the <div> element with id="piechart"
          var chart = new google.visualization.PieChart(document.getElementById('chart1'));
          chart.draw(data, options);

          var chart2 = new google.visualization.ColumnChart(document.getElementById('chart2'));
          chart2.draw(databar, options2)

          

        }
        </script>

    <!-- Bootstrap CSS V 4.0.0 --> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/custom.css">

    <!-- Jquerry -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(() => {
            $("#homeLink").click(
                (event) => {
                    // var hyperLink = $(this);
                    
                    window.location.href = "index.html"

                }
            );

            $("#predictLink").click(
                (event) => {
                    window.location.href = "predict.html"
                }
            )
        })

    </script>
    
    <title>Heart Risk Assess</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light border" style="background-color: #E08989;">
        <a class="navbar-brand border-right border-black pr-2" href="#" style="color: white; font-size: 30px;">Heart Risk Assess</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" id="homeLink" style="font-size: 20px;">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="predictLink" style="font-size: 20px;">Predict</a>
            </li>
            </ul>
        </div>
    </nav>

    <div class="content card" style="background-color: #8B2635;">
        <div class="card-body">
            <div class="d-flex titleLabel border-bottom-0 border-black">
                <h1>Data Visualization</h1>
            </div>
            <div class="d-flex justify-content-center chartDiv " style="background-color: #C7DBE6; background-image: linear-gradient(#DDB967, #c7dbe6, #c7dbe6, #8B2635);">
                <div id="chart1" class="pr-5"></div>
                <div id="chart2" class="pl-5"></div>
            </div>
        </div>
    </div>


    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>