.alert.alert-danger.customNavigation {
     background-color: #E08989;
}

.content .titleLabel {
     padding-top: 30px;
     padding-left: 20px;
     background-color: #DDB967;
     background-image: linear-gradient(#E08989, #DDB967);
     border-radius: 05%;
}

.chartDiv {
     background-color: #C7DBE6; 
     
     background-image: linear-gradient(#DDB967, #c7dbe6, #c7dbe6, #8B2635);
}

.card-body {
     border-radius: 50%;
     border-color: red;
     border-width: 10px;
     padding: 5%;
     margin-top: 1%
;
}

body {
     background-color: #8B2635  ;
}

.card {
     background-color: #8B2635;
}

.card-body {
     border-radius: 1%;
}