<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/main-css.css">

    <style>
      #home {
        color: #CE5959;
      }

    </style>

  </head>

  <body>
    {% include 'navbar.html' %}


    <div class="content-header">
      <!-- Left -->
      <div class= "left-header">
        <h1 style="position: relative; left : 77px">
        Keeping your <span style="color : 
        #CE5959">Heart</span> 
        <br>Healthy</h1>

        <div style="
          position: relative;
          width: 554px;
          height: 254px;
          left: 0px;
          top : 25px;
          background: linear-gradient(90deg, #FFB7B7 10.63%, rgba(255, 183, 183, 0) 99.59%);
          ">
          <div style="
            position: relative;
            padding-top: 36px;
            padding-bottom: 26px;
            padding-left: 77px;
            padding-right: 132px;
            box-sizing: border-box;
            ">
              A healthy heart is central to overall good health. Embracing a healthy lifestyle at any age can prevent heart disease and lower your risk for a heart attack or stroke. You are never too old or too young to begin taking care of your heart. 
          </div>
        </div>
      </div>
      <!-- Center -->
      <div class="center-header">
        <img src="/static/images/jantung_prev_ui 1.png">
      </div>

      <!-- Right -->
      <div class="right-header">
        <h4>
          Things that put you at higher risk <br> for <span style="color: #CE5959;">heart</span> disease include: 
        </h4>

        <ul class="custom-list">
          <li>Smoking</li>
          <li>Hight Blood Preasure</li>
          <li>Obesity</li>
          <li>High Cholestrol Levels</li>
          <li>Inactivity</li>
          <li>Family history of heart Desease</li>
        </ul>
            
        <div style="
          width: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 51px;
          margin-bottom: 66px;
          ">
          <button class="btn-lg rounded-pill w-75 py-3 pr-2" id="btn-start-prog">Start Program</button>
        </div>
      </div>
    </div>

    <div class="center-body" style="height: fit-content;">
      <h3>Why should check <br> your <Span style="color: 
      #CE5959; ">heart</Span>?</h3>
      
      <div class="rectangle-divider"></div> 

      <div class="card-container container">
        <div class="body-center-card mx-4">
          <img src="/static/images/body-first-pic.png">
  
          <div class="card-text px-4 py-4">
            
            <h2 style="opacity: 66%;">
              01
            </h2>
            
            <h4>
              Early detection of conditions, ailments, or diseases
            </h4>
  
          </div>
        </div>

        <div class="body-center-card mx-4">
          <img src="/static/images/body-second-pic.png">
  
          <div class="card-text px-4 py-4">
            
            <h2 style="opacity: 66%;">
              02
            </h2>
            
            <h4>
              Understand your risk of a heart attack or stroke
            </h4>
  
          </div>
        </div>

        <div class="body-center-card mx-4">
          <img src="/static/images/body-third-pic.png">
  
          <div class="card-text px-4 py-4">
            
            <h2 style="opacity: 66%;">
              03
            </h2>
            
            <h4>
              Get the right treatment quickly
            </h4>
  
          </div>
        </div>
      </div>

      <div class="body-footer">
        <h1>Strategies to prevent <br>
          <span style="color: #CE5959;"> heart</span> disease
        </h1>

        <div class="rectangle-divider"></div>

          <div class="footer-content">
            <div class="row footer-tab">
              <div class="col-md-5 footer-card">
                <img class="py-3" src="/static/images/footer-1.png">
                <h5>Don't smoke or use tobacco</h5>
              </div>
              
              <div class="col-md-5 footer-card">
                <img class="py-3" src="/static/images/footer-2.png">
                <h5>Get good quality sleep</h5>
              </div>
            </div>

            <div class="row footer-tab">
              <div class="col-md-5 footer-card">
                <img class="py-3" src="/static/images/footer-3.png">
                <h5>Get moving: Aim for at least 30 to 60 minutes of activity daily</h5>
              </div>

              <div class="col-md-5 footer-card">
                <img class="py-3" src="/static/images/footer-4.png">
                <h5>Manage stress</h5>
              </div>
            </div>
            
            <div class="row footer-tab">
              <div class="col-md-5 footer-card">
                <img class="py-3" src="/static/images/footer-5.png">
                <h5>Eat a heart-healthy diet</h5>
              </div>

              <div class="col-md-5 footer-card">
                <img class="py-3" src="/static/images/footer-6.png">
                <h5>Get heart health screenings</h5>
              </div>
            </div>

            <div class="row footer-tab">
              <div class="col-md-5 footer-card">
                <img class="py-3" src="/static/images/footer-7.png">
                <h5>Maintain a healthy weight</h5>
              </div>

              <div class="col-md-5 footer-card">
                <img class="py-3" src="/static/images/footer-8.png">
                <h5>Keep your blood pressure under control</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    {% include 'footer.html' %}

    

    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

     <!-- Jquerry Syntax -->
     <script>
      $(document).ready(() => {

        $('#form').click((e) => {
          window.location.href = '/form'
        })

        $("#btn-start-prog").click(() =>{
          // $.ajax({
          // url: '/login',
          // method: 'POST',
          // data: JSON.stringify(
          //   {
          //     username : "Elvin",
          //     password : "elvin123"
          //   }
          // ),
          // success: function(response) {
          //   // Handle the success response
          //   console.log(response);
          // },
          // error: function(xhr, status, error) {
          //   // Handle the error response
          //   console.log(error);
          // }

          // $.post("/login", 
//              JSON.stringify({
//                password : 'Elvin'
//              }), (resp) => {
//              console.log(resp);
//           }
//          ).fail((xhr, status, err) => {
//            console.log("error");
//            console.log(err);
//          })
          // $.get("testingGetReq")

          $.get("/form", (resp)  => {
            window.location.href = "/form"
          })
        });
      });




      </script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>