<div class="container-fluid customNavBar">
    <div class="row">
      <div class="col-sm-3">
        <div class="container">
          <div class="row">
            <div class="col centered-column">
              <img src="/static/images/HeartRisk-2.png">
            </div>
          </div>
        </div>
      </div>
        <div class="col">
          <div class="container">
            <div class="row"> 
              <div class="col center-content py-4">
                <div class="row custom-gutter">
                  <div class="col centered-column navi-item" id="home">
                    Home
                  </div>
                  <div class="col centered-column navi-item" id="form">
                    Form
                  </div>
                  <div class="col centered-column navi-item" id="result">
                    Result
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>